html,
body {
    min-height: 100%;
    background-color: rgb(255, 255, 255);
}

.footer {
    padding: 1.5rem 1.5rem 1.5rem;
}

#signMain {
    min-height: 75vh;
}

#loginMain {
    min-height: 75vh;
}

#mainContainer {
    min-height: 85vh;
}